/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.object-city {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #747474;
  font-size: 21px;
  text-align: center;
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.object-city:hover {
  color: #faa519;
  .autokar-wrapper {
    background-image: url("./img/autokar-hover.png");
  }
  .city-name-holder {
    background: #faa519;
  }

}

.object-city-warranted {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #0071a9;
  font-size: 21px;
  text-align: center;
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-city-warranted:hover {
  color: #faa519;
  .autokar-wrapper-warranted {
    background-image: url("./img/autokar-hover.png");
  }
  .city-name-holder {
    background: #faa519;
  }

}


.cityWindow {
  position: relative;
  width: 100px;
  color: #747474;
  border: 1px solid #faa519;
  background: #ffffff;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;

}

.cityWindow::after {
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  left: 50px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #faa519;
  z-index: 1;

}


.autokar-wrapper {
  background-image: url("./img/autokar.png");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.autokar-wrapper-warranted {
  background-image: url("./img/autokar-warrented.png");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.city-name-holder {
  color: #ffffff;
  border-radius: 5px;
  background: #0071a9;
  padding: 3px;
}
