.object-city {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #747474;
  font-size: 21px;
  text-align: center;
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.object-city:hover {
  color: #faa519;
  .autokar-wrapper {
    background-image: url("./img/bus-hover.svg");
  }
  .city-name-holder {
    background: #faa519;
  }

}

.object-city-warranted {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #0071a9;
  font-size: 21px;
  text-align: center;
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-city-warranted:hover {
  color: #faa519;
  .autokar-wrapper-warranted {
    background-image: url("./img/bus-hover.svg");
  }
  .city-name-holder {
    background: #faa519;
  }

}


.cityWindow {
  position: relative;
  width: 150px;
  color: #747474;
  border: 1px solid #faa519;
  background: #ffffff;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;

}

.cityWindow::after {
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  left: calc(50% - 2.5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #faa519;
  z-index: 1;

}


.autokar-wrapper {
  background-image: url("./img/bus-transparent.svg");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.autokar-wrapper-warranted {
  background-image: url("./img/bus-warranted.svg");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.city-name-holder {
  color: #ffffff;
  border-radius: 5px;
  background: #0071a9;
  line-height: 21px;
  padding: 5px;
}
