.map-wrapper {

}

.map {
  margin: 10px;
  width: 400px;
  height: 390px;
  background-image: url("./img/poland-map-bus.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}